.overview-card {
    width: 100%;
    height: calc(8 * var(--mediumDimension));
    border-radius: 15px;
    background-color: var(--darkGrey);
    display: flex;
    align-items: center;
}

.overview-card .expense-chart {
    width: calc(5 * var(--largeDimension)) !important;
    height: calc(5 * var(--largeDimension)) !important;
    margin-left: 10%;
}

.expense-section-breakup {
    margin-left: 10%;
    color: var(--lightGrey);
}

.spend-limit {
    padding: var(--largeSpacing);
    background-color: var(--darkBlueGrey);
    border-radius: 15px;
    font-size: var(--mediumFont);
    cursor: pointer;
}

.current-spend{
    padding: var(--largeSpacing);
    background-color: var(--darkBlueGrey);
    border-radius: 15px;
    font-size: var(--mediumFont);
    margin-top: 40px !important;
    cursor: pointer;
}

.current-spend p:nth-child(1) {
    font-size: calc(3 * var(--mediumFont));
    font-weight: var(--bold);
}

.spend-limit p:nth-child(1) {
    font-size: calc(3 * var(--mediumFont));
    font-weight: var(--bold);
}