<div class="horizontal-panel-wrapper">
    <profile-navigation></profile-navigation>
</div>
<div class="row">
    <div class="overview-wrapper medium">
        <cards-overview></cards-overview>
    </div>
    <div class="overview-wrapper medium">
        <expenses-overview></expenses-overview>
    </div>
</div>
<div class="row">
    <div class="overview-wrapper large">
        <upcoming-expenses></upcoming-expenses>
    </div>
    <div class="overview-wrapper">
        <!-- <expenses-overview></expenses-overview> -->
    </div>
</div>