.overview-wrapper {
    padding: calc(1.5 * var(--largeSpacing));
    overflow-y: auto;
}

.overview-wrapper.medium {
    width: 35%;
}

.overview-wrapper.large {
    width: 50%;
    overflow: hidden;
}

.row {
    width: 100%;
    display: flex;
}