<div class="overview-card">
    <div class="card-container">
        <div class="card-top-bg"></div>
        <div class="card-bottom-bg"></div>
        <card [card]="card"></card>
    </div>
    <div class="action-container">
        <div class="add-card-btn-container">
            <div class="add-card-btn">
                <p>+</p>
            </div>
            <div class="add-card-btn-bg">
            </div>
            <div class="add-card-cta">
                <p>Add Card</p>
            </div>
        </div>
    </div>
</div>